<a href="/paintChart">Refresh the Chart Data</a>
<table border="2">
         <tr>
            <th>Device Id</th>
            <th>Date</th>
            <th>Capture Time</th>
            <th>Censor1_Distance</th>
            <th>Censor1_Time</th>
            <th>Censor2_Distance</th>
            <th>Censor2_Time</th>
        </tr>
{{#each chartData}}
        <tr>
            <td>{{particle_id}}</td>
            <td>{{publishedon}}</td>
            <td>{{publishedat}}</td>
            <td>{{censor1_distance}}</td>
            <td>{{censor1_time}}</td>
            <td>{{censor2_distance}}</td>
            <td>{{censor2_time}}</td>
        </tr>
{{/each}}
</table>